{% extends 'base/main.html' %}
{% load static %}
{% block content %}


<div class="main-container">
	<h3>Password reset sent</h3>

<div class="custom-container">
	<p>

Nous vous avons envoyé par e-mail des instructions pour définir votre mot de passe, s'il existe un compte avec l'e-mail que vous avez saisi. Vous devriez les recevoir sous peu.</p>

	<p>Si vous ne recevez pas d'e-mail, veuillez vous assurer que vous avez saisi l'adresse avec laquelle vous vous êtes inscrit et vérifier votre dossier spam.</p>

</div>

{% endblock content %}
